#chessBoardGrid{
    -fx-grid-lines-visible: false;
}

.dark-mode{
    -fx-border-radius: 2;
    -fx-background-color: #181818;
    -fx-border-color: white;
}

.light-mode{
    -fx-background-color: white;
    -fx-border-color: #181818;
}

.label{
    -fx-background-color: white;
}

.mainBorderPane {
    -fx-border-color: red;
}
#chessBoardGrid {
    -fx-border-color: white;
    -fx-border-width: 2;

}

#high-lighted-tile {
    -fx-border-color: rgba(255, 255, 255, 0.8); /* Slightly opaque white for better visibility */
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0.5, 0, 0); /* Subtle shadow with slight opacity */
    -fx-padding: 5px;
    -fx-transition: all 0.3s ease-in-out;
}

#high-lighted-tile:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 15, 0.8, 0, 0); /* Fully opaque white shadow on hover */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.borderPane{
    -fx-border-color: red;
}
.evenSquareGreen{
    -fx-background-color: #769656;
}

.oddSquareOffWhite{
    -fx-background-color: #eeeed2;
}